@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.table-bordered tbody tr:not(:last-child) {
  border-bottom: 1px solid #4B5563; 
}

.table-bordered thead tr:not(:last-child) {
  border-bottom: 1px solid #ffffff; 
}

.bm-overlay {
  display: none !important;
}

.border-red-500 {
  border: 2px solid #fc2c2c; /* Este es el color rojo 500 en Tailwind CSS */
  border-radius: 0.25rem; /* Opcional, puedes agregar redondeo al borde */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bm-burger-button {
  display: none;
}

.bm-menu {
  background: #1d1d1d;
}

.menu-item {
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
}


#page-wrap {
  transition: transform 0.5s ease;
  width: 100%;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
  padding: 0.8em;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.menu-item:hover {
  background: #ffffff;
}

.menu-item--small {
  font-size: 0.8em;
}

/*Estilos alertas*/
.custom-swal-popup {
  background-color: #2c2c3e !important; /* Fondo oscuro */
  color: #fff !important; /* Texto blanco */
  border-radius: 8px; /* Bordes redondeados */
  width: 400px !important; /* Ancho personalizado */
  padding: 10px; /* Espaciado interno */
}

.custom-swal-title {
  font-size: 16px !important; /* Tamaño del texto */
  font-weight: 700 !important; /* Negrita */
  margin: 0; /* Quitar márgenes */
  color: #fff; /* Color blanco */
}

.custom-swal-title-main {
  font-size: 30px !important; /* Tamaño del texto */
  font-weight: 700 !important; /* Negrita */
  margin: 0; /* Quitar márgenes */
  color: #fff; /* Color blanco */
}

.custom-swal-icon {
  color: #ffcc80 !important; /* Ajusta el color del ícono si es necesario */
}

.swal2-toast .swal2-title {
  margin-left: 10px; /* Ajusta la separación entre el ícono y el texto */
}

.swal2-popup {
  padding: 10px; /* Ajuste del padding general */
}

/* Estilo de la barra de progreso */
.custom-swal-timer-bar {
  background-color: #ffffff !important; /* Barra blanca */
  height: 5px; /* Altura de la barra */
  border-radius: 0 0 8px 8px; /* Bordes redondeados solo en la parte inferior */
}

.swal2-container {
  z-index: 1500 !important;
}

.status-badge {
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  color: #fff;
  display: inline-block;
  text-align: center;
}

/* Clases específicas para cada estado */
.status-rechazada {
  background-color: #ff4d4f; /* Rojo */
}

.status-borrador {
  background-color: #faad14; /* Amarillo */
}

.status-enviada {
  background-color: #1890ff; /* Azul */
}

.status-aprobada {
  background-color: #52c41a; /* Verde */
}

.status-confirmando-pago {
  background-color: #13c2c2; /* Azul claro */
}

.status-pagada {
  background-color: #2f54eb; /* Azul oscuro */
}

.status-en-proceso {
  background-color: #52c41a; /* Verde */
}

.status-finalizada {
  background-color: #722ed1; /* Morado */
}


/*Estilos alertas - fin*/

